= render(partial: "notifications/notifications_table", locals: { notifications: @notifications })

== render(partial: 'pagy/bootstrap_nav', locals: { pagy: @pagy })

= render(partial: "notifications/compose_button")
