.hero {
  background: url(~hero_space.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba($primary, 0.0) 0%,
    rgba($primary, 0.0) 50%,
    rgba($primary, 0.5) 100%
  );
}

.hero .container-fluid {
  z-index: 10;
}

.display-1 {
  font-size: 20rem;
}
