a {
  text-decoration: none;
  transition: $transition;
}

a:hover {
  transition: $transition;
}

.dropdown-item {
  color: rgba($white, 0.55);
}

.dropdown-item:hover {
  color: rgba($white, 0.75);
  background-color: lighten($primary, 10%);
}

.nav-link.active {
  background-color: lighten($primary, 10%);
  border-bottom: 1px solid $white;
}
