.nav-link {
  color: $white;
}

.nav-link:hover {
  color: $gray-500;
  transition: $transition;
}

.nav-link.active {
  background-color: lighten($primary, 10%);
}

.sticky-offset {
  top: 36px;
}

.sidebar {
  min-height: calc(100vh - 36px);
}
